*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:linear-gradient(135deg,#0f172a,#1e293b);
color:white;
min-height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

header{
margin-bottom:40px;
}

.menu{
display:flex;
flex-direction:column;
gap:15px;
margin-bottom:40px;
}

.menu a{
display:block;
width:260px;
padding:14px;
background:#3b82f6;
border-radius:10px;
color:white;
text-decoration:none;
font-weight:bold;
transition:0.3s;
}

.menu a:hover{
transform:scale(1.05);
}

.contato{
background:white;
color:#333;
padding:25px;
border-radius:14px;
width:280px;
}

.whatsapp{
display:block;
background:#25D366;
color:white;
padding:14px;
border-radius:10px;
text-decoration:none;
font-weight:bold;
margin-bottom:10px;
}

footer{
margin-top:30px;
}
