*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:linear-gradient(135deg,#0f172a,#1e293b);
    color:white;
}

.nome{
    font-size:38px;
    background:linear-gradient(90deg,#3b82f6,#9333ea);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

header{
    text-align:center;
    padding:60px 20px;
}

.descricao{
    margin-top:10px;
    color:#cbd5e1;
    font-size:18px;
}

.telefone{
    margin-top:8px;
    font-weight:bold;
    color:#38bdf8;
}

.projetos{
    text-align:center;
    padding:40px;
}

.container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:30px;
    margin-top:40px;
}

.card{
    background:rgba(255,255,255,0.05);
    backdrop-filter:blur(10px);
    padding:25px;
    width:260px;
    border-radius:15px;
    transition:0.3s;
    box-shadow:0 10px 30px rgba(0,0,0,0.4);
}

.card:hover{
    transform:translateY(-10px);
}

.card a{
    display:inline-block;
    margin-top:15px;
    padding:10px 18px;
    background:#3b82f6;
    border-radius:8px;
    color:white;
    text-decoration:none;
    font-weight:bold;
}

footer{
    text-align:center;
    padding:30px;
    color:#94a3b8;
}
