*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:linear-gradient(135deg,#0f172a,#1e293b);
    color:white;
}

.nome{
    font-size:40px;
    text-transform:uppercase;
    background:linear-gradient(90deg,#3b82f6,#9333ea);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

header{
    text-align:center;
    padding:70px 20px;
}

.descricao{
    margin-top:10px;
    color:#cbd5e1;
    font-size:18px;
}

.contato{
    margin-top:18px;
}

.telefone{
    font-weight:bold;
    color:#38bdf8;
}

.whatsapp-btn{
    display:inline-block;
    margin-top:12px;
    padding:13px 26px;
    background:#25D366;
    color:white;
    font-weight:bold;
    border-radius:12px;
    text-decoration:none;
    transition:0.3s;
    box-shadow:0 8px 20px rgba(0,0,0,0.3);
}

.whatsapp-btn:hover{
    background:#1ebe5d;
    transform:scale(1.07);
}

.projetos{
    text-align:center;
    padding:50px;
}

.container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:35px;
    margin-top:40px;
}

.card{
    background:rgba(255,255,255,0.05);
    backdrop-filter:blur(12px);
    padding:28px;
    width:270px;
    border-radius:18px;
    transition:0.35s;
    box-shadow:0 10px 35px rgba(0,0,0,0.5);
}

.card:hover{
    transform:translateY(-12px) scale(1.03);
}

.card a{
    display:inline-block;
    margin-top:18px;
    padding:11px 20px;
    background:#3b82f6;
    border-radius:10px;
    color:white;
    text-decoration:none;
    font-weight:bold;
}

footer{
    text-align:center;
    padding:35px;
    color:#94a3b8;
}
